<div class="wrap">
    <h1>Site Registration</h1>

    <form method="post" action="options.php">
        <input type='hidden' name='option_page' value='site-registration-settings-group' /><input type="hidden" name="action" value="update" /><input type="hidden" id="_wpnonce" name="_wpnonce" value="e68485010a" /><input type="hidden" name="_wp_http_referer" value="" />		        <table class="form-table">
        <tr valign="top">
            <th scope="row">Email Address</th>
            <td><input type="text" name="admin_email"
                       value="admin@example.org"/>
            </td>
        </tr>

        <tr valign="top">
            <th scope="row">Email Subject</th>
            <td><input type="text" name="email_subject"
                       value=""/>
            </td>
        </tr>

        <tr valign="top">
            <th scope="row">Password</th>
            <td>
                <input
                        type="radio"
                        name="use_password_generator"
                        value="false"
                        checked=checked>Generate Password<p>
                <input
                        type="radio"
                        name="use_password_generator"
                        value="true"
                >Send Link to Password
                Generator
            </td>
        </tr>
    </table>

        <p class="submit"><input type="submit" name="submit" id="submit" class="button button-primary" value="Save Changes"  /></p>    </form>
</div>

