th {
  text-align: left;
}

.contents {
  padding: 20px;
}

.registration-form {
  margin: auto;
  width: 70%;
  padding: 10px;
}

.error {
  color: red;
}

.wrapper {
  overflow: hidden;
}

.button {
  padding: 10px 10px;
  margin-right: 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  width: 100px;
  float:left;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: white;
}

.approve {
  background: green;
}

.reject {
  background: red;
}
